* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: montserrat;
    color: $clr1;
}

body {
    margin: 0;
    background-color: $clr6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: caveat;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: rem(55px);
}

a {
    color: $clr5;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button.btn {
    margin: 0 5px 10px 0;
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.App {
    min-height: 110vh;
}

::selection {
    background-color: $clr2;
    color: $clr6;
}

@media(min-width:$narrow-breakpoint) {
    .App {
        min-height: 130vh;
    }

}