.flex{
display: flex;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
.cursor-pointer{
    cursor: pointer;
}
.mt10{
    margin-top:10px ;
}
.mt30{
    margin-top:30px ;
}

.bgc-azure{
    background-color: $clr5;
}
.pad-side-30{
    padding:0 30px
}
