.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(20px, 1fr);
    }

    @include for-normal-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
    }

    @include for-wide-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(20px, 1fr);
    }
}

.list {

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}



.browse {
    .list {

        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, minmax(250px, 1fr));



        @media(max-width: 1120px) {
            grid-template-columns: repeat(3, minmax(200px, 1fr));
        }
        @media(max-width: 770px) {
            grid-template-columns: repeat(2, minmax(200px, 1fr));
        }

        @media(max-width: 540px) {
            grid-template-columns: repeat(1, minmax(300px, 1fr));
        }
    }
}