.quiz-game-main{
    h1{
        text-align: center;
        // position: absolute;
        // right: 0;
        // left: 0;
        // top: 80px; 
        height: 150px;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
       }
    // .answer-feedback{
    //     font-size: 3rem;
    //     text-align: center;
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 165px;

    // }
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
.game-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    img{
        height: 180px;
    }
    .game-progress{
        width:75vw;

    }
}
    .game-answers-container{
        display: flex;
        justify-content: center;
        // padding-bottom: 100px;
        .game-answers{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 27px;
            margin-bottom: 90px;
        }
    }

    .answer{
        text-align: center;
        width: 300px;
        height: 120px;
        background-color: #07689f;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        transition:  background-color 0.3s;
        font-size: 1.7rem;
        cursor: pointer;

        &:hover{
            background-color: $clr4;
            transition: font-size 0.3s background-color 0.3s;
            font-size: 1.8rem;
        }
        h3{
            color:$clr2;
            margin: 0;
        }
        }  
    
}

.timer-wrapper{
    // position: relative;
    // top: 115px;
    .main-timer-container h2{
    display: flex;
    justify-content: center;
        }
    }

@media(max-width:$narrow-breakpoint){
    .quiz-game-main{
        .game-top{
            img{
                height: 125px;
            }
        }
        .game-answers-container{
            .game-answers{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 6px;
                width: 100%

            }
        }
        .answer{
            height: 40px;
            width: 100%;
            font-size:1.1rem;
            &:hover{
                    background-color: $clr3;
                    transition:none;
                    font-size:1.1rem;
                
            }
        }
}
}



