.set-unregistered-container{
    @include center-columns();
    justify-content: center;
    form{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 190px;
    }

}
.quiz-game-main{
    .score{
        font-size:2.5rem
    }
    h1{
        text-align: center;

        height: 80px;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
       }

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
.game-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    img{
        height: 200px;
        width: 230px;
        margin-bottom: 40px;
        }
    .game-progress{
        width:75vw;
        transition: all .3s;

    }
    .game-timer{
        font-size:2.3rem;
    }
}
    .game-answers-container{
        display: flex;
        justify-content: center;
        // padding-bottom: 100px;
        .game-answers{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            margin-bottom: 90px;
        }
    }

    .answer{
        text-align: center;
        width: 300px;
        height: 120px;
        background-color: #07689f;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        transition:  background-color 0.3s;
        font-size: 1.7rem;
        cursor: pointer;

        &:hover{
            background-color: $clr4;
            transition: font-size 0.3s background-color 0.3s;
            font-size: 1.8rem;
        }
        h3{
            color:$clr2;
            margin: 0;
        }
        }  
    
}

.timer-wrapper{
    // position: relative;
    // top: 115px;
    .main-timer-container h2{
    display: flex;
    justify-content: center;
        }
    }

@media(max-width:$narrow-breakpoint){
    .quiz-game-main{
        .game-top{
            img{
                height: 165px;
            }
        }
        .game-answers-container{
            .game-answers{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 6px;
                width: 100%

            }
        }
        .answer{
            height: 70px;
            width: 100%;
            font-size:1.5rem;
            &:hover{
                    background-color: $clr3;
                    transition:none;
                    font-size:1.5rem;
                
            }
        }
}
}



