.set-unregistered-container {
    @include center-columns();
    justify-content: center;
    height: 100vh;

    form {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 190px;
    }

}

.game-countdown {

    .game-countdown-time {
        font-size: 15rem;
    }

}

.quiz-game-main {

    background-color: white;

    .background-img {
        position: relative;

        img {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.4;
            border-radius: 5px;
            object-fit: cover;
            right: 0;
            left: 0;
        }
    }

    .score {
        font-size: 1rem;
        align-self: start;
    }

    h1 {
        text-align: center;

        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }

    height: 100vh;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    margin-top: 19px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;

    .game-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        img {
            height: 225px;
            width: 280px;
            margin-bottom: 10px;
        }

        .game-progress {
            width: 75vw;
            transition: all .3s;

        }

        .game-timer {
            font-size: 2.3rem;
        }
    }

    .game-answers-container {
        display: flex;
        justify-content: center;

        // padding-bottom: 100px;
        .game-answers {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            margin-bottom: 90px;
            width: 100%;
        }
    }

    .answer {
        text-align: center;
        // width: 300px;
        height: 90px;
        background-color: #07689f;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        transition: background-color 0.3s;
        font-size: 1.7rem;
        cursor: pointer;

        &:hover {
            background-color: $clr4;
            transition: font-size 0.3s background-color 0.3s;
            font-size: 1.8rem;
        }

        h3 {
            color: $clr2;
            margin: 0;
        }
    }
    .users-score {
        p {
            font-size: rem(16px);
        }
        background: #ffffff6b;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: space-around;
        grid-column: 1;
        flex-direction: column;
        width: 100px;
        align-items: center;
        left: 0;
        bottom: 0;
    }

}
@media(max-width:720px){
    .quiz-game-main{

    .users-score {
        height: 70px;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        grid-column: 1;
         flex-direction: row; 
        width: 100vw;
        align-items: center;
        right:0
}
}
}

.timer-wrapper {

    // position: relative;
    // top: 115px;
    .main-timer-container h2 {
        display: flex;
        justify-content: center;
    }
}

@media(max-width:$narrow-breakpoint) {
    .quiz-game-main {

        h1 {
            font-size: 1.5rem;
        }

        .game-top {
            img {
                height: 30vh;
            }
        }

        .game-answers-container {
            .game-answers {
                // display: grid;
                // grid-template-columns: repeat(1, 1fr);
                grid-gap: 6px;
                width: 100%
            }
        }

        .answer {
            height: 10vh;
            width: 100%;
            font-size: 1.2rem;

            &:hover {
                background-color: $clr3;
                transition: none;
                font-size: 1.2rem;

            }
        }
    }
}

@keyframes timer {
    0% {

        opacity: 1;
    }



    100% {
        opacity: 0;
        transform: translateY(100px);
    }


}

.game-countdown-time {
    animation: timer 1s infinite;
    text-align: center;
}
// .multiplayer{
//     grid-template-columns: 2fr 6fr 1fr;
// }

// background-color: #ffffffb3;
//     border-radius: 10px;
//     padding: 0 7px;