.home-page {
    a {
        h3 {
            color: $clr1;
        }
    }

    .title {
        background-image: url(https://res.cloudinary.com/dif8yy3on/image/upload/v1600269447/x5bvokrzpyqjtzbz0lmd.gif);
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 25px;

        h1 {
            font-family: montserrat-black;
            font-size: rem(40px);

            @media(max-width:550px) {
                text-align: center;
                font-size: rem(30px);
            }
        }

    }

    .list {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        background-color: $clr5;
        padding: 20px;
        margin-top: 10px;



        @media(max-width: 1000px) {
            grid-template-columns: repeat(2, minmax(200px, 1fr));
        }

        @media(max-width: 500px) {
            grid-template-columns: repeat(1, minmax(250px, 1fr));
        }

        // @media(max-width: 420px) {
        //     grid-template-columns: repeat(1, minmax(250px, 1fr));
        // }
    }



    .tag-title {
        margin-top: 10px;
        font-family: montserrat-black;
    }

    .quiz-list h3 {
        text-align: right;
    }
}