.login-profile-container {
    .yellow {
        color: $clr2;
    }
    h5 {
        cursor: pointer;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        form{
            display: flex;
            flex-direction: column;
            width: 50%;
                div{
                    width: 100%;
                    margin-bottom: 4px;
            }
        }
    }
    .profile-container {
        .profile-header {
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            h2 {
                text-align: center;
                margin-bottom: 15px;
            }
        }
        .profile-img{
            max-width: 350px;
        }
        img {
            max-width: 100%
        }
        .quizzes-header {
            text-align: center;
            margin-bottom: 15px;
        }
        .quiz-list-header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }
    }
    .signup-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .register-img{
            max-width: 200px;
            max-height: 250px;
            margin-bottom: 10px;
            position: relative;
            left: 25%;
        }

        label{
            display: flex;
            justify-content: center;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 50%;
                div{
                    width: 100%;
                    margin-bottom: 4px;
            }
            .profile-uploader{
                width: 100%;
                margin-bottom: 5px;
                text-align: center;
                padding: 5px;
                img{
                    width: 230px;
                }
            }

        }
    }
}
@media (max-width: 770px) {
    .login-profile-container{
        .MuiOutlinedInput-input{
            padding: 18.5px 0;
            padding-left: 3%;
            width: 97%;
        }
        .signup-container {
            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                div {
                    display: inline-grid;
                    margin-top: 5px;
                }
                .profile-uploader {
                    justify-content: center;
 
                }
                // .register-img {
                //     width: 300px;
                //     margin-bottom: 10px;
                //     position: inherit;
                // }
                label {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    
        .login-container {
            form {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            div {
                display: inline-grid;
                margin-bottom: 5px;
            }
        }

    }

}
