.login-profile-container {
    .login-container {
    }
    .profile-container {
        .profile-header {
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            h2{
                text-align: center;
                margin-bottom: 15px;
            }
        }
        img {
            max-width: 315px;
        }
        .quizzes-header{
            text-align: center;
            margin-bottom: 15px;
        }
    }
}
