// Colors
$clr1: #11006e;
$clr2: #ffc93c;
$clr3: #07689f;
$clr4: #40a8c4;
$clr5: #a2d5f2;
$clr6: #f6f5f5;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;