.endgame-main {
    .endgame-top {
        @include center-columns();
        padding: 30px;
        h1 {
            font-size: 3rem;
        }
        .rank-table {
            .header {
                display: flex;
                justify-content: space-around;
                text-decoration: underline;
            }
            font-size: 1.2rem;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 0 15px;
            .table-line {
                border-bottom: 2px solid $clr2;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .endgame-actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 36px;
        form,p{
            flex-direction:column;
            grid-area: 2 / 1 / span 2 / span 2;

    }
}
}