.endgame-main {
    .endgame-top {
        @include center-columns();
        padding: 30px;
        h1 {
            font-size: 3rem;
        }
        .rank-table {
            margin-bottom: 15px;
            .header {
                display: flex;
                justify-content: space-around;
                text-decoration: underline;
            }
            font-size: 1.2rem;
            background: #ceeefc4d;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 0 15px;
            width: 560px;
            .table-line {
                border-bottom: 2px solid $clr2;
                display: flex;
                justify-content: space-between;
                padding: 20px 0px;
            }
        }
    }
    .endgame-actions {
        button {
            // width: 215px;
            height: 75px;
            width: 100%;
            margin-bottom: 30px;
            a {
                color: $clr2;
            }
        }

        width: 570px;
        display: flex;
        flex-direction: column;
        .btns {
            display: flex;
            justify-content: center;
        }
        form,
        .review-feedback {
            flex-direction: column;
            grid-area: 2 / 1 / span 2 / span 2;
            button {
                margin-top: 30px;
            }
            textarea {
                padding: 20px 0 0 15px;
            }
        }
    }
}
@media (max-width: $narrow-breakpoint) {
    .endgame-main {
        .endgame-top {
            padding: 5px;
            .rank-table {
                width: 400px;
            }
            .endgame-actions {
                width: 405px;

                // button{
                //     // width: 150px;
                // }
            }
        }
    }
}
@media (max-width: 450px) {
    .endgame-main {
        .endgame-top {
            .rank-table {
                width: 350px;
            }
            .endgame-actions {
                width: 360px;
            }
        }
    }
}
