footer {
    font-family: caveat;
    color: $clr6;
    background-color: $clr3;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 20px;



    p {
        margin: 0;
        span {
            margin: 5px;
        }
    }
}