.notification-box {


    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    min-width: 325px;
    border-radius: 4px;
    color: $clr6;
    min-height: 50px;
    display: flex;
    align-items: center;
    z-index: 3;

    p{
        padding-left: 5px;
    }

    &.err {
        background-color: #ff0033;
    }

    &.info {
        background-color: $clr4;
    }

    &.success {
        background-color: #4BB543;
    }
}