.progress-bar {
    background-color: whiteSmoke;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    width: 500px;
    height: 15px;
    border-radius: 8px;
    position: absolute;
    top:74px;
    width: 95vw;
    display: block;
}
@media(max-width: $narrow-breakpoint){
    // .progress-bar{
    //     width: 95vw;
    // }
    
}

.progress-bar > span {
    border-radius: 8px;
    transition: all .3s;
    background-color: blue;
    height: 100%;
  
    display: block;
    text-indent: -9999px;

    &.red {
        background-color: #ff0033;
    }

    &.blue {
        background-color: $clr4;
    }

    &.green {
        background-color: #4BB543;
    }
  }
