.quest-preview {
    color: $clr5;
    position: relative;
    text-align: left;
    margin: 2px;
    border-radius: 2px;
    border: 1px solid rgb(199, 192, 192);

    h2 {
        border-radius: 2px;
        border: 1px solid rgb(199, 192, 192);
    }

    .quest-preview-btn{
        position: absolute;
        bottom: 0;
        right: 0;
        *{
            cursor: pointer;
        }
    }

    
}