.quest-preview {
    position: relative;
    text-align: left;
    margin: 2px;
    border-radius: 2px;
    background-color: #fff;

    h2 {
        font-size: rem(15px);
        text-align: center;
        margin:3px;
    }

    ul{
        color: $clr3;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        li{
            margin:2px;
            border-radius: 2px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            font-size: rem(10px);
        }
    }

    .quest-preview-btn{
        
        *{
            cursor: pointer;
        }
    }

    
}