
.quiz-preview{
    @include aspect-ratio(1, 1);
    color: $clr1;
    background-color: $clr6;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    p,h3{
        padding-left: 5px;
    }
    img{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    .info{
        font-size: rem(14px);

        h3.quiz-title{
            font-size: rem(16px);
            text-align: left;
            padding: 3px;
        }
        height: 50%;
        margin-top: 50%;
    }
    .stars{
        color:$clr2;
        text-align: right;
        position: absolute;
        margin-left:auto; 
        margin-right:0;
        justify-content: flex-end;
        bottom: 5px;
        right: 5px;
    }
    .difficulity{
        position: absolute;
        bottom: 5px;
        left: 5px;
        h5{
            border-radius: 3rem;
            padding: 2px 7px;
            color: $clr6;

        }

    }
}