.quiz-details-container {
    padding-top: 20px;
    .quiz-details-head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .quiz-img {
            width: 60%;
            max-height: 392px;
            object-fit: fill;
        }
        .rank-container {
            width: 37.5%;
        }
        .rank-table {
            border: 2px solid $clr3;
            border-radius: 7px;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            height: 100%;
            width: 100%;
            padding: 3px 15px;
            .header {
                display: flex;
                justify-content: space-around;
                text-decoration: underline $clr2;
                margin-bottom: 10px;
            }
            .table-line {
                // border-bottom: 2px solid $clr2;
                height: 5vh;
                text-decoration: underline;
                text-decoration-color: $clr2;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .quiz-details-body {
        display: flex;
        justify-content: space-between;
        .btns {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            button {
                padding: 6px 140px;
                // margin-top: 12px;
            }
        }
        .quiz-info {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            width: 69%;
            .title {
                font-size: 2.5rem;
                display: flex;
                flex-direction: column;
            }
            .quiz-length {
                font-size: 0.9rem;
            }

        }
    }
    .review-stats {
        margin-top: 55px;
        .reviews-title {
            text-align: center;
            border-bottom: 3px solid $clr2;
        }
        .reviews-container {
            .read-more-btn {
                text-align: center;
                margin: 10px 0;
            }
            .review-card {
                text-align: center;
                border-bottom: 2px solid $clr2;
                padding: 10px 0;
            }
        }
    }
}

@media (max-width: 1000px) {
    .quiz-details-container {
        .quiz-details-head {
            display: inline;
            .quiz-img {
                width: 100%;
                margin-bottom: 15px;
            }
            .rank-container {
                width: 100%;
                .rank-table {
                    .table-line {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
        .quiz-details-body {
            display: block;
            .quiz-info {
                display: block;
                margin: 20px 0;
                width: 100%;
                text-align: center;

 
            }
            .btns {
                button {
                    width: 100%;
                }
            }
        }
        .review-stats {
            margin: 35px 0;
            .reviews-container {
                .review-card {
                    padding: 10px 0;
                }
            }
        }
    }
}
