.quiz-details-container {
    padding-top: 20px;
    .quiz-details-head {
        display: flex;
        justify-content: space-between;
        .quiz-img {
            // width: 60%;
            width: 580px;
            max-height: 370px;
            object-fit: fill;
        }
        .rank-container{

        }
        .rank-table {
            border: 1px solid black;
            border-radius: 3px;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            height: 100%;
            padding: 0 15px;
            .header {
                display: flex;
                justify-content: space-around;
                text-decoration: underline;
                margin-bottom: 10px;
            }
            .table-line {
                // border-bottom: 2px solid $clr2;
                height: 5vh;
                text-decoration: underline;
                text-decoration-color: $clr2;
            }
        }
    }

    .quiz-details-body {
        display: flex;
        justify-content: space-between;
        .btns {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            button {
                padding: 8px 140px;
            }
        }
        .quiz-info {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            .title{
                font-size: 2.5rem;
                display: flex;
                flex-direction: column;
            }
            .quiz-length {
                font-size: 0.9rem;
            }
            .creator {
                color: #bfbdb7;
                font-size: 0.7rem;
            }
        }
    }
    .review-stats {
        margin-top: 55px;
        .reviews-title {
            text-align: center;
            border-bottom: 3px solid $clr2;
        }
        .reviews-container {
            .read-more-btn {
                text-align: center;
                margin: 10px 0;
            }
            .review-card {
                text-align: center;
                border-bottom: 2px solid $clr2;
                padding: 10px 0;
            }
        }
    }
}

@media (max-width: 1000px) {
    .quiz-details-container {
        .quiz-details-head {
            display: inline;
            .quiz-img {
                width: 100%;
                margin-bottom: 15px;
            }
            .rank-container {
                .rank-table {
                    .table-line {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
        .quiz-details-body{
            display: block;
            .quiz-info{
                margin: 20px 0;
                align-items: center;

                .title{

                    align-items: center;
                }

            }
            .btns{
                .play-single-btn{
                    margin-bottom: 15px;
                    button{
                        width: 100%;
                    }
                }
            }
        }
        .review-stats{
            margin: 35px 0;
            .reviews-container{
                .review-card{
                    padding: 10px 0;
                }
            }
        }
    }
}
